# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Logs
logs/
*.log
*.log.*

# Prisma
.prisma/
.prisma/client/
prisma/generated/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Build output
dist/
build/
tmp/
temp/

# Testing
coverage/
.nyc_output/
jest-results.json

# Snapshots
__snapshots__/

# Local databases
*.sqlite
*.sqlite3

# File uploads (optional)
uploads/

generated/*